extends base.pug 

block scripts
  script(src='/static/index.js')

block style 
 style
      include ../static/style.css 

block content
  //- nav#navbar
  //-   ul
  //-    li #[a(href="/") Home]
  //-    li #[a(href="/") About ]
  //-    li #[a(href="/") Services ]                                                                                                                                                                                                  
  //-    li #[a(href="/") Class Info ]
  //-    li #[a(href="/") Contact us ]
       
  section#introSection 
    div Welcome to Rohit's Dance Academy 
    div#cartoon  Sweat & Shine
  
  section#missionSection 
    h2 Our Missions 
    div.cards 
       h3 Empowering lives through the joy of dance
       div.card-box 
         div.card-img 
           img(src="/static/img/two.jpg") 
         
         div.card-content 
           p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, corrupti!

       div.innerBox 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores est at porro?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat, temporibus.     


    div.cards 
       h3 Sharing the Gift of Dance with the World 
       div.card-box 
         div.card-img 
           img(src="/static/img/one.jpg") 
         
         div.card-content 
           p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, corrupti!

       div.innerBox 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores est at porro? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, veniam.    



    div.cards 
       h3  Empowering Youth through Dance Education
       div.card-box 
         div.card-img 
           img(src="/static/img/three.jpg") 
         
         div.card-content 
           p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, corrupti!

       div.innerBox 
          p Lorem ipsum dolor sit amet consectetur adipisicing. Asperiores est at porro? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, Pranay singh is Great.    

  
  section#sponsorsSection 
    h2 Our Sponsors 
    div#sponsors 
      img(src="/static/img/hp_222.png", alt="Sponsors Image" , class="ImgSponsors")
      img(src="/static/img/microsoft_222.png", alt="Sponsors Image" , class="ImgSponsors")
      img(src="/static/img/apple_222.png", alt="Sponsors Image" , class="ImgSponsors")
      img(src="/static/img/skypes_222.jpg", alt="Sponsors Image" , class="ImgSponsors")
       

